{% extends 'flatpages/sample.html' %}
{% load custom_filters %}
{% load custom_tags %}

{%block title%}
    News
{%endblock title%}

{%block body%}
    <h2>Новости:</h2>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Search" />
    </form>
    <hr>
    {% if news %}
    <h5 align="left">Количество новостей: {{ news | length }}</h5>
    <br>
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Содержание</td>
            </tr>
            {% for new in news %}
            <tr>
                <td>{{ new.title }}</td>
                <td>{{ new.creation | date:'d M Y' }}</td>
                <td>{{ new.content | truncatewords:20 | censorship }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет...</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{%endblock body%}